*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family:'Lato' ,sans-serif;
    background-color: rgb(239, 243, 243);  
   /* overflow: hidden;*/
}

#home{
display: flex;
flex-direction: row;
border: none;
border-bottom: 1px solid black;
width: 100%;
height: 50px;
margin: 0px;
justify-content: space-between;
background-color: rgb(239, 243, 243);
-webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);

}
header{
color: rgb(126, 123, 123);
font-size: x-large;
padding: 10px 30px;
font-style:unset;
font-weight: bolder;
text-shadow: 1px 1px 50px rgba(113,97,97,0.67);

}
b{
font-size: xx-large;
color:rgb(63, 67, 69);

}
nav{
padding-top: 10px;
}
.btnnav{
height: 50px;
width: 110px;
margin-top: -10px;
border: none;
font-size: large;
}
.btnnav:hover{
color: white;
background-color: rgb(133, 201, 238);
cursor: pointer;

}
#all-conversion-section{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
margin-top: 30px;
   

    }

    section{
        -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
        margin: 20px;
       
        }
        .weight{
            height: 300px;
            display: none;
        }
        .distance{
            display: none;
            height: 300px;
        }
        #temperature{
            display: block;
            height: 300px;
           
        }
        button>.weight{
            padding-top: 100px;
        }
      
article{
display: flex;
flex-direction: row;
}

h1{
background-color: rgb(133, 201, 238);
color: white; 
text-align: center;
padding: 10px;

}
.feildset{
display: flex;
flex-direction: column;
padding-top: 15px;
padding-left: 20px;


}
img{
    float: right;
    width: 150px;
   
  
}
figure{
    padding-left: 150px;
    }
input[type="number"]{
border: none;
border-bottom: 1px solid black; 
background-color:rgb(239, 243, 243) ;
width: 350px;
height: 35px;
}

.result{
    border: none;
border-bottom: 1px solid black; 
background-color:rgb(239, 243, 243) ;
width: 350px;
height: 25px;
}
.cnvrt{
border:  2px solid rgb(69, 185, 247);
background-color: white;
cursor: pointer;
color: rgb(133, 201, 238);
height: 35px;
}
.cnvrt:hover{
background-color:   rgb(133, 201, 238);
color:white ;
font-weight: bolder;
font-size: large;
border: none;
}
aside{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 2px;
}
footer{
    position: relative;
display: flex;
flex-direction: row;
margin-top: 9%;
justify-content: center;
align-items: center;
}
.cmnt{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.submit{
    border:  2px solid rgb(69, 185, 247);
    background-color: white;
    cursor: pointer;
    color: rgb(133, 201, 238);  
}
.submit:hover{
    background-color:   rgb(133, 201, 238);
    color:white ;
    font-weight: bolder;
    font-size: large;
    border: none;
}
.socail{
display: flex;
flex-direction: column;
padding-left: 30px;
padding-top: 20px;
}
.fIcon{
    width: 20px;
   padding: 5px;
   cursor: pointer;
}
p{
    font-weight: bold ;
    margin-top: 10px;
}

@media only screen and (max-width: 680px) {
    body{
        overflow:auto
      }
       header{
      
            font-size:small;
            padding: 0px 0px;
         font-weight:normal;
         padding-top:15px;
            
            
            } 
      b{
        font-size:large;
        
        
      }
      .btnnav{
    height: 50px;
    width: 75px;
    margin-top: -10px;
    border: none;
    font-size: small;
    background-color: rgb(239, 243, 243);
    }
      article{
        display: grid;
    }
        #temperature,#weight,#distance{
    height: 500px;
        }
        figure{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            }
            
    .cnvrt{
       width: 200px;
    }
      input[type="number"]{
        width:200px;
    }
    }
     
